h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: var(--color-dark);
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    flex: 0 0 32%;
    padding: 3%;
}

.card img {
    width: 100%;
    height: auto;
    border: 2px solid;
    border-radius: 13px;
    border-color: var(--color-blue);
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: scale(1.1);
}

.card p {
    text-align: center;
    margin-top: 6%;
    font-size: clamp(14px, 2vw, 20px);
    
}

.titles {
    text-align: center;
    margin-top: 6%;
    font-size: clamp(14px, 2vw, 20px);
    font-style: italic;
}

.card p + p {
    margin-top: 1%;
}

.quote-container {
    background-color: var(--color-light-gray);
    padding: 3% 5%;
}

.quote-container p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.quote {
    font-size: clamp(20px, 5vw, 36px);
    font-weight: 300;
    font-style: italic;
    color: var(--color-dark);
}

#author {
    text-align: end;
    font-size: clamp(14px, 3vw, 16px);
}

.action-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-color: var(--color-blue);
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
    padding: 24px 40px;
    color: var(--color-white);
    border-radius: 5px;
}

.action-box h3 {
    margin-bottom: 4px;
}

.action-box p {
    font-size: 13px;
}

/* - - - - - - RESPONSIVE BASICS - - - - - - */
@media (max-width: 767px) {
    .action-box {
        flex-direction: column;
        align-items: flex-start;
        max-width: 90%;
    }

    .card {
        flex: 0 0 48%;
    }
}